<h1>Listing Sensor History</h1>
 <Table>
    <thead>
    <tr>
        <th>Sensor id</th>
        <th>Valor</th>
        <th>Tempo</th>
        <th>Sensor History Col</th>
        <th>Last Creation Date ago</th>
    </tr>
</thead>
<tbody>
     <% @sensor_historys.each do |history| %>
        <tr>
            <td><%= history.sensors_idsensors %></td>
            <td><%= history.value %></td>
            <td><%= history.time %></td>
            <td>history.sensors_historycol %></td>
            <td><%= time_ago_in_words history.created_at%></td>
        </tr>
    <% end %>
    </tbody>
</Table>