<h1>Listing Sensor History</h1>

<Table>
    <thead>
        <tr>
            <th>Sensor id</th>
            <th>Valor</th>
            <th>Tempo</th>
        </tr>
    </thead>
    <tbody>
        <% @sensor_historys.each do |history| %>
            <tr>
                <td><%= history.sensors_id %></td>
                <td><%= history.value %></td>
                <td><%= history.time %></td>
            </tr>
        <% end %>
    </tbody>
</Table>