<div class="container" style=" border: 2px solid #fff; border-radius: 5px;background-color: #fff;margin-top: 10px;">
	<center>
		<h2>Users Manager</h2>
		<br>

	</center>
	<table id="example" class="display" style="width:100%"> 
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>faxer ciclo com users</td>
				<td>--</td>
				<td>--</td>
				<td>--</td>
			</tr>
			
	
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	} );
</script>